{% extends 'base.html' %}

{% block content %}
<h1>Products</h1>

<div class="product_form"></div>
<h1>Add a new Product:</h1>

<form action="/products" method="post">
  <label for="name">Product Name:</label><br>
  <input type="text" id="name" name="name" autofocus><br><br>
  <label for="category">Category:</label><br>
  <select name="category" id = "category"><br>
  <option value="livestock">Live Stock</option>
  <option value="accesories">Accesories</option>
  <option value="food">Food</option>
  </select><br><br>
  <label for="cost">Cost:</label><br>
  <input type="number" id="cost" name="cost" autofocus><br><br>
  <label for="selling_price">Selling Price:</label><br>
  <input type="number" id="selling_price" name="selling_price" autofocus><br><br>

  <label for="manufacturer">Manufacturer:</label><br>
  <select name="manufacturer" id = "manufacturer"><br>
  <option value="Red Sea">Red Sea</option> 
  <option value="Fluval">Fluval</option>
  <option value="ReefLab">Reef Lab</option>
  </select><br><br>
  <input type="submit" value="Add Product">
</form>
</div>

<div class = "table_form">
<table>
  <tr>
    <th>ID:</th>
    <th></th>
    <th>Name:</th>
    <th></th>
    <th>Category:</th>
    <th></th>
    <th>Cost:</th>
    <th></th>
    <th>Selling Price</th>
  </tr>
  {% for product in products %}
  <tr>
    <td> {{product.id}} </td>
    <td>|</td>
    <td>{{ product.name}}</td>
    <td>|</td>
    <td>{{ product.category }}</td>
    <td>|</td>
    <td>{{ product.cost }}</td>
    <td>|</td>
    <td>{{ product.selling_price }}</td>
    <td>
      <form action="/products/{{product.id}}/delete" method="POST">
        <input class="btn btn--danger" type="submit" value="delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>
</div>
{% endblock %}