{% extends 'base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<table>
    <tr>
        <th>Name:</th>
        <th></th>
        <th>Category:</th>
        <th></th>
    </tr>
    <tr>
        <td>{{ product.name}}</td>
        <td></td>
        <td>{{ product.category }}</td>
        <th></th>
    </tr>  
  </table>

<h3>HELLO FROM PRODUCTS CATEGORY</h3>


{% endblock %}