body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: white;
    margin: 25px 35px;
    
}

.content {
    text-align: center;
    background-color: #B0FDA3;
    border-radius: 15px;
    border: 1px solid black;
    margin: 40px 200px;
    font-size:50px;
}

.stock_center {
    text-align: center;
    font-size: 30px;
}

p.out_stock {
    color: red;
}

p.low_stock {
    color : orange;

}

p.high_stock {
    color: green;
}