{% extends 'base.html' %}

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<h1>Manufacturers:</h1>

<div class="manufacturer_form">
  <h1>Add a new Manufacturer:</h1>
  
  <form action="/manufacturers" method="post">
    <label for="name">Manufacturer Name:</label><br>
    <input type="text" id="name" name="name" autofocus><br><br>

    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email" autofocus><br><br>

    <label for="contact_number">Contact Number:</label><br>
    <input type="text" id="contact_number" name="contact_number" autofocus><br><br>

    <label for="category">Category:</label><br>
    <select name="category" id = "category"><br>
    <option value="Live Stock">Live Stock</option>
    <option value="Accesories">Accesories</option>
    <option value="Food">Food</option>
    </select><br><br>

    <input type="submit" value="Add Manufacturer">

</form>
</div>

<div class = "table_form">
<table class = "center">
  <tr>
    <th>ID:</th>
    <th></th>
    <th>Name:</th>
    <th></th>
    <th>Email:</th>
    <th></th>
    <th>Contact Number:</th>
    <th></th>
    <th>Category:</th>
  </tr>
  {% for manufacturer in manufacturers %}
  <tr>
    <td>{{ manufacturer.id }}</td>
    <td>|</td>
    <td>{{ manufacturer.name}}</td>
    <td>|</td>
    <td>{{ manufacturer.email }}</td>
    <td>|</td>
    <td>{{ manufacturer.contact_number }}</td>
    <td>|</td>
    <td>{{ manufacturer.category }}</td>
    <td>|


    <form action="/manufacturers/{{manufacturer.id}}/delete" method="POST">
      <input class="btn btn--danger" type="submit" value="delete" />
    </form>

    <form action="/manufacturers/{{manufacturer.id}}/update" method="PUT">
      <input class="btn" type="submit" value="update" />
    </form>

  </td>
  
</tr>
{% endfor %}
</table>
</div>
{% endblock %}