{% extends 'base.html' %}

{% block content %}
<h1>Select your user to Login</h1>

<form action="/users/login" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">
  <label for="category">Category:</label>
  <select name="category" id="category">
    <option value="shopmanager">Shop Manager</option>
    <option value="shopassistant">Assistant</option>
  </select>

  <input type="submit" value="Login">
</form>

<!-- <table>
    <tr>
      <th>ID:</th>
      <th></th>
        <th>Name:</th>
        <th></th>
        <th>Category:</th>
      </tr>
  {% for user in users %}

  <tr>
    <td><a href="/users/{{ user.id }}"> {{user.id}}</a></td>
    <td>|</td>
    <td>{{ user.name }}</td>
    <td>|</td>
    <td>{{ user.category }}</td>
  </tr>
  {% endfor %}
</table> -->


{% endblock %}