{% extends 'base.html' %} 

{% block content %}
<link href="https://fonts.googleapis.com/css?family=Merriweather|Special+Elite" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/buttons.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/tables.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">

<table>
<tr>
    <th>ID:</th>
    <th></th>
    <th>Name:</th>
    <th></th>
    <th>Category:</th>
</tr>
<tr>
    <td><a href="/login/{{ user.id }}"> {{user.id}}</a></td>
    <td>|</td>
    <td>{{user.name}}</td>
    <td>|</td>
    <td>{{user.category}}</td>
</tr>
</table>
<h3>hello from login{{user.name}}</h3>

{% endblock %}
